input[type="text"]{
   background-color: #ccdbe8;
    font-size: 22px;
    width: 313px;
    height: 59px;
    margin-left: 537px;
    margin-top: 69px;
}
span{
    color: #d84237;
    font-size: 25px;
    margin-left: 600px;
    
}